AutoPrintr/AutoPrintr/Service References/WindowsServiceReference/AutoPrintr.Core.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AutoPrintr.Core.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AutoPrintr.Core.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfJob">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Job" nillable="true" type="tns:Job" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJob" nillable="true" type="tns:ArrayOfJob" />
  <xs:complexType name="Job">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Document" nillable="true" type="tns:Document" />
          <xs:element minOccurs="0" name="DownloadProgress" type="xs:double" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Error" nillable="true" type="q1:Exception" />
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="Printer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quantity" type="xs:int" />
          <xs:element minOccurs="0" name="State" type="tns:JobState" />
          <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Job" nillable="true" type="tns:Job" />
  <xs:complexType name="BaseModel">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseModel" nillable="true" type="tns:BaseModel" />
  <xs:complexType name="Document">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="AutoPrint" type="xs:boolean" />
          <xs:element minOccurs="0" name="FileUri" nillable="true" type="xs:anyURI" />
          <xs:element minOccurs="0" name="LocalFilePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Location" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Register" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Size" type="tns:DocumentSize" />
          <xs:element minOccurs="0" name="Type" type="tns:DocumentType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:simpleType name="DocumentSize">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
        </ActualType>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Letter" />
      <xs:enumeration value="Label" />
      <xs:enumeration value="Receipt" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DocumentSize" nillable="true" type="tns:DocumentSize" />
  <xs:simpleType name="DocumentType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
        </ActualType>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Invoice" />
      <xs:enumeration value="Estimate" />
      <xs:enumeration value="Ticket" />
      <xs:enumeration value="IntakeForm" />
      <xs:enumeration value="Receipt" />
      <xs:enumeration value="ZReport" />
      <xs:enumeration value="TicketReceipt" />
      <xs:enumeration value="PopDrawer" />
      <xs:enumeration value="Adjustment" />
      <xs:enumeration value="CustomerID" />
      <xs:enumeration value="Asset" />
      <xs:enumeration value="TicketLabel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DocumentType" nillable="true" type="tns:DocumentType" />
  <xs:simpleType name="JobState">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
        </ActualType>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Processing" />
      <xs:enumeration value="Downloading" />
      <xs:enumeration value="Downloaded" />
      <xs:enumeration value="Printing" />
      <xs:enumeration value="Printed" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="JobState" nillable="true" type="tns:JobState" />
</xs:schema>