AutoPrintr/AutoPrintr/Service References/WindowsServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WindowsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBindingEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="120000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/AutoPrintr.Core.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWindowsService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_GetPrinters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrinters" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_GetPrinters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrintersResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_GetJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobs" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_GetJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_Print_InputMessage">
    <wsdl:part name="parameters" element="tns:Print" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_Print_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_DeleteJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJobs" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_DeleteJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_JobChanged_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:JobChanged" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_JobChanged_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:JobChangedResponse" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_ConnectionFailed_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ConnectionFailed" />
  </wsdl:message>
  <wsdl:message name="IWindowsService_ConnectionFailed_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ConnectionFailedResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IWindowsService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IWindowsService/Connect" message="tns:IWindowsService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWindowsService/ConnectResponse" message="tns:IWindowsService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IWindowsService/Disconnect" message="tns:IWindowsService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWindowsService/DisconnectResponse" message="tns:IWindowsService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IWindowsService/Ping" message="tns:IWindowsService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWindowsService/PingResponse" message="tns:IWindowsService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetPrinters">
      <wsdl:input wsaw:Action="http://tempuri.org/IWindowsService/GetPrinters" message="tns:IWindowsService_GetPrinters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWindowsService/GetPrintersResponse" message="tns:IWindowsService_GetPrinters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IWindowsService/GetJobs" message="tns:IWindowsService_GetJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWindowsService/GetJobsResponse" message="tns:IWindowsService_GetJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Print">
      <wsdl:input wsaw:Action="http://tempuri.org/IWindowsService/Print" message="tns:IWindowsService_Print_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWindowsService/PrintResponse" message="tns:IWindowsService_Print_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IWindowsService/DeleteJobs" message="tns:IWindowsService_DeleteJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWindowsService/DeleteJobsResponse" message="tns:IWindowsService_DeleteJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="JobChanged">
      <wsdl:output wsaw:Action="http://tempuri.org/IWindowsService/JobChanged" message="tns:IWindowsService_JobChanged_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IWindowsService/JobChangedResponse" message="tns:IWindowsService_JobChanged_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConnectionFailed">
      <wsdl:output wsaw:Action="http://tempuri.org/IWindowsService/ConnectionFailed" message="tns:IWindowsService_ConnectionFailed_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IWindowsService/ConnectionFailedResponse" message="tns:IWindowsService_ConnectionFailed_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBindingEndpoint" type="tns:IWindowsService">
    <wsp:PolicyReference URI="#NetTcpBindingEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IWindowsService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IWindowsService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IWindowsService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrinters">
      <soap12:operation soapAction="http://tempuri.org/IWindowsService/GetPrinters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobs">
      <soap12:operation soapAction="http://tempuri.org/IWindowsService/GetJobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Print">
      <soap12:operation soapAction="http://tempuri.org/IWindowsService/Print" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJobs">
      <soap12:operation soapAction="http://tempuri.org/IWindowsService/DeleteJobs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JobChanged">
      <soap12:operation soapAction="http://tempuri.org/IWindowsService/JobChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectionFailed">
      <soap12:operation soapAction="http://tempuri.org/IWindowsService/ConnectionFailed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WindowsService">
    <wsdl:port name="NetTcpBindingEndpoint" binding="tns:NetTcpBindingEndpoint">
      <soap12:address location="net.tcp://localhost:7777/AutoPrintrService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7777/AutoPrintrService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>